<div class="container">
  <h1>Biogarfía de Rafael Nadal</h1>

  <p>
    Nació el 3 de junio de 1986 en Manacor, Isla de Mallorca, Baleares, España.
    Sus padres son Ana María Parera y Sebastián Nadal Homar; tiene una hermana
    menor, María Isabel. Nació en una familia de deportistas, su tío Miguel
    Ángel Nadal fue jugador de fútbol del FC Barcelona y del RCD Mallorca y su
    tío Toni Nadal había sido jugador de tenis. Fue con este con quien se inició
    con los primeros golpes de raqueta a los tres años de edad.12​ Practicaba
    también fútbol, baloncesto y otros deportes.
  </p>
  <p>
    A los ocho años de edad ganó un título sub-12 de tenis en Baleares mientras
    continuaba jugando al fútbol como delantero. Ganó torneos en las categorías
    inferiores, quizás el más reseñable sea el campeonato mundial júnior «Le
    petit as», disputado en Francia.13​ Con doce años su padre lo impulsó a
    decidir entre el tenis o el fútbol para que no descuidase sus estudios, y se
    decidió por el tenis. A los catorce años, su familia se enfrentó a la
    decisión de desplazarse a Barcelona para continuar su carrera, como
    demandaba la federación. Su tío Toni fue partidario de quedarse en Mallorca,
    lo que supuso que la federación les concediese menor financiación para jugar
    torneos.14​ Ante esta situación su tío conformó grupo de confianza para
    proyectar su carrera, con personas como su médico Ángel Ruiz Cotorro15​ y le
    impuso el rigor y la disciplina necesaria para ser un deportista de élite.
    En un partido de exhibición que Pat Cash y Boris Becker celebraban en
    Mallorca sobre tierra batida, el alemán se lesionó y se le ofreció a Nadal
    la oportunidad de disputarlo. Con aquella oportunidad, el manacorí demostró
    su potencial en arcilla al vencer el 14 de mayo de 2001 a todo un excampeón
    de Wimbledon como Pat Cash. Al año siguiente dejó su huella en torneos
    júnior, como su plaza de semifinalista en 2002 en Wimbledon jugando contra
    chicos mayores que él, y se inició en torneos Challenger cosechando varias
    victorias.
  </p>
  <p>
    Rafael Nadal contrajo matrimonio el 19 de octubre de 2019 con María
    Francisca "Mery" Perelló Pascual (nacida en Manacor el 7 de julio de 1988)
    con quien formaba pareja desde hacía catorce años ya que cuando la conoció
    era compañera de clase de su hermana Maribel. El enlace se celebró en Sa
    Fortalesa, antiguo bastión militar del siglo XVII, reconvertido en una gran
    villa residencial en el Puerto de Pollensa (Mallorca), ofició la ceremonia
    el conocido sacerdote mallorquín Tomeu Català y contó con invitados ilustres
    como el rey emérito Juan Carlos I y la reina Sofía, además de compañeros del
    circuito tenístico como David Ferrer, Marc López y Feliciano López.
  </p>

</div>