<div id="gallery" class="container">
  <h1>Galería de fotos</h1>

  <div class="row row-cols-4">
    <div class="col"><img src="/img/rafa1.png" alt="gallery" /></div>
    <div class="col"><img src="/img/rafa2.png" alt="gallery" /></div>
    <div class="col"><img src="/img/rafa3.png" alt="gallery" /></div>
    <div class="col"><img src="/img/rafa4.png" alt="gallery" /></div>
  </div>
  <div class="row row-cols-4">
    <div class="col"><img src="/img/rafa5.png" alt="gallery" /></div>
    <div class="col"><img src="/img/rafa6.png" alt="gallery" /></div>
    <div class="col"><img src="/img/rafa7.png" alt="gallery" /></div>
    <div class="col"><img src="/img/rafa8.png" alt="gallery" /></div>
  </div>

</div>