<div class="container">
  <h1>Trayectoria deportiva</h1>
  <ul>
    <li>
      2002-2004: Comienzos como profesional
    </li>
    <li>

      2005: Primer Roland Garros
    </li>
    <li>
      2006: Segundo Roland Garros

    </li>
    <li>
      2007: Tercer Roland Garros

    </li>
    <li>
      2008: Cuarto Roland Garros, primer Wimbledon, medalla de oro Olímpica y
      número 1

    </li>
    <li>
      2009: Abierto de Australia y primera derrota en Roland Garros

    </li>
    <li>
      2010: Quinto Roland Garros, segundo Wimbledon, Golden Slam en Carrera y
      regreso al número 1

    </li>
    <li>
      2011: Sexto Roland Garros
    </li>
    <li>
      2012: Séptimo Roland Garros
    </li>
    <li>

      2013: Octavo Roland Garros, segundo Abierto de EE. UU. y regreso al número
      1
    </li>
    <li>
      2014: Noveno Roland Garros y problemas con las lesiones
    </li>
    <li>
      2015: Siguen las lesiones y caída en el ranking
    </li>
    <li>

      2016: 28º Masters 1000 y segunda medalla de oro Olímpica
    </li>
    <li>

      2017: Décimo Roland Garros, tercer Abierto de EE. UU. y regreso al número
      1
    </li>
    <li>

      2018: Undécimo Roland Garros y final de año con lesiones
    </li>
    <li>

      2019: Duodécimo Roland Garros, cuarto Abierto de EE. UU. y regreso al
      número 1
    </li>
    <li>

      2020: Decimotercer Roland Garros y vigésimo Grand Slam
    </li>
    <li>

      2021: 36º Masters 1000 y problemas con las lesiones
    </li>
    <li>

      2022: Segundo título en Australia y vigésimo primer Grand Slam
    </li>
  </ul>

</div>